@model MCMDirect.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}
<style>
    #signin-box {
        width: 40%;
        background-color: white;
        border: 5px solid black;
        border-radius: 10px;
        position: center;
        top: 40%;
        padding: 3rem;
        margin-top: 8rem;
    }
</style>

<div id="signin-box" class="container">

    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Register for an account</h1>
        <label asp-for="Email" class="sr-only">Email address</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="">
        <label asp-for="ConfirmPassword" class="sr-only">Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password" required="">

        <button class="mt-3 btn btn-lg btn-dark btn-block" type="submit">Register</button>
    </form>
</div>