@model MCMDirect.Areas.Store.Models.Product

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<img src="~/images/@Model.Image" alt="">
<h4>@Model.Price</h4>
<div>@Model.Description</div>