@using MCMDirect.Areas.Store.Models
@model List<MCMDirect.Areas.Store.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "_Layout";
}
<style>
    div.header {
        padding: 2rem 1rem;
        position: center;
        background-color: white;
        font-size: 5rem;
        border:  4px solid #aaa;
        border-radius: 2rem;
    }
    .card-img-top {
                width: 100%;
                height: 8vw;
                object-fit: cover;
    }
</style>
<div class="row">
    <div class="col-sm-8 offset-2">

        <div class="header text-center">
            <h1>Categories</h1>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">

    @foreach (Category category in @Model)
    {
        <div class="col">
            <a asp-controller="Category" asp-action="Details" asp-route-id="@category.CategoryId">
                <div class="card">
                    <img src="~/images/@category.Image" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            @category.CategoryName
                        </h5>
                    </div>
                </div>

            </a>
        </div>
    }
</div>