@using MCMDirect.Models.ViewModels
@model dynamic
@{
    var action = ViewContext.RouteData.Values["action"]?.ToString();
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
                  ViewContext.RouteData.Values["controller"]?.ToString();
}


<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="logo d-flex align-items-center px-4 col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        MCMD
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="@Nav.Active("Home", current) nav-link px-3 link-dark">Home</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Category" asp-action="Index" class="@Nav.Active("Category", current) nav-link px-3 link-dark">Categories</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link px-3 link-dark">Cart</a>
        </li>

    </ul>

    <div class="px-4 col-md-3 text-end">
        @await Html.PartialAsync("_LoginOrUserInfoPartial")
    </div>
</header>