@using MCMDirect.Areas.Store.Models
@model IEnumerable<MCMDirect.Areas.Store.Models.Category>

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<h1 class="display-2 text-center">Manage Categories</h1>

@foreach (Category @category in @Model.ToList())
{
    <p>@category.CategoryName</p>
    <p>@category.Products.Count</p>

}